#apply_page {
  font-family: "Lato ", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.apply_page_font {
  font-size: 10px;
}

#apply_page_inside {
  width: 100%;
  max-width: 400px;
}

#apply_lang_bold {
  font-weight: bold;
}
#apply_lang_thin {
  font-family: "Lato-Light", sans-serif;
}

#apply_block2_img1 {
  margin-top: 20px;
  width: 50%;
}
#apply_top {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  width: 90%;
}
#apply_nav_img {
  width: auto;
  height: 20px;
}
#apply_div2 {
  display: flex;
  justify-content: center;
}

#apply_div3 {
  width: 90%;
  margin: 5%;
}
#apply_div3_title {
  color: #121826;
  font-family: Lato;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
#apply_div3_title_gray {
  color: #c5c2c2;
}

.apply_check_div {
  display: flex;
  align-items: center;
  margin: 1px 0 0 5px;
}

.apply_checkbox {
  margin: 0px 5px 0 0;
  height: 12px;
}

.apply_form_group {
  border-radius: 5.939px;
  border: 0.742px solid #d2d5da;
  background: #fff;
  box-shadow: 0px 1.484764575958252px 1.484764575958252px 0px
    rgba(0, 0, 0, 0.05);
  width: 96%;
  height: 35px;
  margin: 2% 0;
  padding-left: 8px;
}

#apply_send_btn {
  color: #fff;
  text-align: center;

  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  background-color: #037ef3;
  width: 90px;
  border-radius: 30px;
  border: 1px solid transparent;
}

.apply_form_label {
  background-color: white;
}
.aplly_red_text {
  color: red;
}
#apply_div4 {
  width: 90%;
  margin: 5%;
}
#apply_name_div {
  display: flex;
}

#apply_name_div_side1,
#apply_name_div_side2 {
  width: 46%;
}

#apply_name_div_side1 {
  margin-right: 2%;
}
#apply_name_div_side2 {
  margin-left: 4%;
}
.apply_input_div_row {
  width: 100%;
}
.apply_form_input_name {
  margin: -46px 0px 46px 7px;
}
.apply_form_input_name2 {
  margin: -48px 0px 48px 7px;
}
.apply_form_send {
  display: flex;
  justify-content: center;
}

.apply_check_div_2 {
  display: flex;
  align-items: flex-start;
  margin: 1px 0 5px 5px;
  color: #b3b3b3;
}
#apply_post_txt {
  display: flex;
  justify-content: center;
  color: #7b7b7b;
  text-align: center;
  margin: 20px 0 40px 0;
}
#apply_check_social {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
}
#apply_check_address {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
}
#apply_adress_link {
  text-decoration: none;
  color: #037ef3;
}
#apply_social_div_inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.apply_social_svg {
  margin-top: 10px;
  margin-right: 5px;
  width: 20px;
  height: auto;
}
.apply_blue_txt {
  color: #037ef3;
}
.apply_qandq {
  color: #999;
}

.hidendiv {
  display: none;
}
.apply_questions{
  margin-bottom: 1px;
}

@media screen and (max-width: 400px) {
  #apply_page_inside {
    width: 100%;
    max-width: 100%;
  }
}
