@import url("https://fonts.cdnfonts.com/css/raleway-5");

#about_page_layout {
  display: flex;

  justify-content: center;
}

.about_content {
  height: 250px;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  font-family: "Raleway";
  float: left;
  font-size: 16px;
  line-height: 20px;
  display: inline;
}

.about_inline_left {
  width: 50%;
  float: left;
  align-items: center;
}

.about_inline_right {
  float: right;
  width: 50%;
  align-items: center;
}
.about_photo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .about_inline_left {
    width: 100%;
  }
  .about_inline_right {
    width: 100%;
  }
  .about_photo {
    display: none;
  }
}
