#otm-home-join {
    height: 85vh;
    position: relative;
}

#otm-home-join_div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#otm_home_down_arrow{

    display: flex;
    position: absolute;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 40px;
}



#otm_site__img{
    width: 100%;
}

#otm-home-join_div_center{

    width: 60%;
}
#otm_home-joinus{
    display: flex;
    width: 100%;

    align-items: center;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    margin-bottom:10% ;
    text-align: center;
    flex-direction: column;
}
#otm_home-joinus-button, #otm_home-joinus-button2{

    width: 100%;
    padding: 14px 40px;
    margin: 0 2px 0 2px ;
    text-decoration: none!important;
    font-family: 'Lato', sans-serif!important;
    box-shadow: none;
}
#otm_home-joinus-button2{
    background-color: transparent;
    color: #8198ae;
    padding: 14px 30px;
    border: 1px solid #c9d9e9;

}
#otm_home_line_buttons{

    justify-content: center;
    display: flex;
}







#OTM_seeinsta{
    width: 60%;
    margin-left: 22%;
    display: flex;

    align-items: center;

}

#OTM_seeinsta_logo{
    float: left;
    width: 30%;
    display: flex;
    justify-content: center;


}
#OTM_seeinsta_text{
    float: right;
    width: 60%;

    font-weight: bold;


    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 1.8vw;
}


#OTM_home_insta{
    background: linear-gradient(to right, #f7c94c, #e95950) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#OTM_contact_midpage{
    width: 80%;
    margin-left: 10%;
    font-family: 'Lato', sans-serif;
    color: #222222;
}




#OTM_home_photo_title{
    text-align: center ;
    font-weight: bold;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 1.8vw;
    margin-bottom: 2vw;
}



.OTM_home_photos{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-weight: bold;

}
.OTM_home_photos_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

#OTM_onetiome_gif{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.show {
    display: block!important;
}

.hide {
    display: none!important;
}



@media screen and (max-width: 1200px) {
    #otm-home-join_div_center{
        width: 80%;
    }

}
@media screen and (max-width: 768px) {
    #otm-home-join_div_center {
        width: 100%;
    }
    #OTM_seeinsta {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 600px) {
    #otm_site__img{
        content: url("/public/images/onthemap/main_mob.png");
    }

    #OTM_seeinsta {
        width: 100%;
        margin-left: 0;
    }

    #OTM_seeinsta_text {
        font-size: 3vw;
    }
    #OTM_contact_midpage{
        width: 90%;
        margin-left: 5%;
    }
    .OTM_home_photos_row{
        width: 60%;
        margin-left: 20%;
    }
    .OTM_home_photos{
        width: 39%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        font-weight: bold;

    }
    #OTM_home_photo_title {
        font-size: 3vw;
    }
}

