.LatoMedium{
  font-family: 'Lato-Medium', sans-serif;
}
#navbar_div{
  display: flex;
  max-height: 3vw;
  padding: 1vw 0 1vw 0;
  font-size: 1.15vw;
}
#navbar_logo{
  max-width: 10vw;
  margin-left: 1vw;
}
#navbar_lang{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
#navbar_options{
  width: 73vw;
  display: flex;
}
.navbar_menu_option{

  padding: 0 1vw 0 1vw ;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
#navbar_search_icon{
  border-right: solid 0.15vw #222222 ;
  padding: 0 1vw 0 1vw ;
}
#navbar_login_icon{
  border-right: solid 0.15vw #222222 ;
  padding: 0 1vw 0 1vw ;
}
#navbar_langiage{
  padding-left: 1vw;
  display: flex;
}
#navbar_downarrow{
  padding-left: 0.5vw;
}